<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" 
"http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
			<!-- The full pattern: Date MS Priority [Category] (Thread:NDC) Message\n
			<param name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
			-->
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
		<param name="File" value="${catalina.home}/logs/smartconnect.log"/>
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
		</layout>
	</appender>

	<!-- Buffer events and log them asynchronously -->
	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
		<param name="Blocking" value="false"/> 
		<param name="BufferSize" value="512"/> 
		<appender-ref ref="CONSOLE"/>
		<!--  
		<appender-ref ref="FILE"/>
		-->
	</appender>

	<logger name="org.springframework">
		<level value="INFO"/>
	</logger>
	
	<logger name="org.springframework.aop.interceptor">
		<level value="INFO"/>
	</logger>
	
	<logger name="org.springframework.web">
		<level value="INFO"/>
	</logger>
	
	<logger name="org.springframework.orm.jpa">
		<level value="INFO"/>
	</logger>

	<!-- Suppress success logging from InteractiveAuthenticationSuccessEvent -->
	<logger name="org.springframework.security">
		<level value="WARN"/>
	</logger>

	<logger name="org.apache">
		<level value="WARN"/>
	</logger>
	
	<logger name="org.hibernate">
		<level value="INFO"/>
	</logger>
	
	<logger name="net.sf.ehcache">
		<level value="DEBUG"/>
	</logger>
	
	<logger name="com.googlecode.genericdao">
		<level value="INFO"/>
	</logger>

	<root>
		<level value="INFO"/>
		<appender-ref ref="ASYNC"/>
	</root>

</log4j:configuration>
