<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>net.skcomms.dtc.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/dtcardbeg/greet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dtcProxyServlet</servlet-name>
		<jsp-file>/DtcProxy.jsp</jsp-file>
		<init-param>
			<param-name>hello</param-name>
			<param-value>jsp</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>dtcProxyServlet</servlet-name>
		<url-pattern>/dtcproxy/*</url-pattern>
        <url-pattern>/dtcproxy/response_xml.html</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>DtcArdbeg.html</welcome-file>
	</welcome-file-list>

</web-app>
