<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/rootContext.xml</param-value>
    </context-param>
    
    <context-param>
        <param-name>spring.profiles.default</param-name>
        <param-value>test</param-value>
    </context-param>
    
    
    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>net.skcomms.dtc.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/dtcardbeg/greet</url-pattern>
	</servlet-mapping>

    <servlet>
        <servlet-name>dtcServiceServlet</servlet-name>
        <servlet-class>net.skcomms.dtc.server.DtcServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>dtcServiceServlet</servlet-name>
        <url-pattern>/dtcardbeg/dtcservice</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>dtcProxyServlet</servlet-name>
		<jsp-file>/DtcProxy.jsp</jsp-file>
		<init-param>
            <param-name>trimSpaces</param-name>
            <param-value>true</param-value>
        </init-param>        
	</servlet>

	<servlet-mapping>
		<servlet-name>dtcProxyServlet</servlet-name>
		<url-pattern>/_dtcproxy_/*</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>DtcArdbeg.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>DtcService</servlet-name>
		<servlet-class>net.skcomms.dtc.server.DtcServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DtcService</servlet-name>
		<url-pattern>/dtcardbeg/DtcService</url-pattern>
	</servlet-mapping>

</web-app>
